In [3]:
1+3

4

In [1]:
print("hello")

hello

Modulo or Mod operator

In [3]:
7 % 4

3

In [4]:
50 % 5

0

In [5]:
 a = 5

In [6]:
a

5

In [7]:
mystring="abcdefghijk"

In [8]:
mystring[3:6]

'def'

In [9]:
mystring[0:4]

'abcd'

In [10]:
mystring[:5]

'abcde'

In [11]:
mystring[5:]

'fghijk'

reverse a string

In [12]:
mystring[::-1]

'kjihgfedcba'

In [17]:
#Changing name latters cannot be done through index substitution because strings are imutable
#give name=Sam doing name[0] ="P" will yield error and not "Pam"
name="Sam"

In [14]:
last_letter = name[1:]

In [18]:
#This is called string concatenation
'P'+last_letter

'Pam'

In [19]:
name + " is Frodo's friend"

"Sam is Frodo's friend"

In [21]:
#Multiplication w letters
letter = "z"
letter * 10

'zzzzzzzzzz'

In [22]:
#Careful not to concatenate numbers that were converted to strings
'2' + '3'

'23'

In [24]:
name.capitalize()

'Sam'

In [25]:
name.upper()

'SAM'

In [26]:
name.lower()

'sam'

In [27]:
name.split()

['Sam']

In [28]:
name="Hello World"
name.split()

['Hello', 'World']

In [31]:
name.split('l')

['He', '', 'o Wor', 'd']


**Print formatting with String:**
Formatting with the .format() method.
A good way to format objects/vars into your strings for print statements is w this method, the syntax is:

'String here {} then also {}'.format('something1','something2')

In [32]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [33]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [34]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [36]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [37]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [39]:
print('The {2} {1} {0} {3} {4}'.format('fox', 'brown', 'quick', 'says', name))

The quick brown fox says Hello World

In [41]:
result=100/777
result

0.1287001287001287

In [43]:
print("The result is {}".format(result))

The result is 0.1287001287001287

In [46]:
#Float formatting follows {value:width.precision f} 
print("The result is {r:1.3f}".format(r=result))

The result is 0.129

**Print formatting with String: Formatting with the f-strings method.**

New feature since python 3.6

In [48]:
#print("the fox says {}".format(name))
print(f"the fox says {name}")

the fox says Hello World

In [49]:
name = "sam"
age = 17

In [50]:
print(f"{name} is {age} years old")

sam is 17 years old

**Lists in Python**

In [51]:
mylist=["one","two","three"]

In [52]:
len(mylist)

3

In [53]:
mylist[1:]

['two', 'three']

In [54]:
mylist[0]

'one'

In [55]:
another_list=["four","five"]

In [58]:
new_list=mylist+another_list
print(new_list)

['one', 'two', 'three', 'four', 'five']

In [61]:
new_list.append("six")
print(new_list)

['one', 'two', 'three', 'four', 'five', 'six', 'six']

In [62]:
new_list.pop()

'six'

In [63]:
print(new_list)

['one', 'two', 'three', 'four', 'five', 'six']

In [64]:
new_list.pop(2)
print(new_list)

['one', 'two', 'four', 'five', 'six']

In [65]:
new_list=['a','e','c','b']
num_list=[4,1,8,3]

In [66]:
new_list.sort()
new_list

['a', 'b', 'c', 'e']

In [67]:
#doing sorted_list = new_list.sort() doesn't work because the sort function happens within new_list
#you have to do it in two steps, 
#new_list.sort()
#sorted_list = new_list

In [68]:
num_list

[4, 1, 8, 3]

In [71]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [72]:
num_list.reverse()
num_list

[8, 4, 3, 1]

**Dictionaries**

In [77]:
mydict = {"key1":"v1", "key2":2}

In [78]:
mydict['key2']

2

In [79]:
mydict = {'k1':123, 'k2':[0,1,2], 'k3':{'k3.1':1000} }

In [80]:
mydict['k2']

[0, 1, 2]

In [81]:
mydict['k3']

{'k3.1': 1000}

In [82]:
mydict['k2'][1]

1

In [83]:
mydict['k3']['k3.1']

1000

In [85]:
mydict['k4']= 2000
mydict

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'k3.1': 1000}, 'k4': 2000}

In [87]:
mydict.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [88]:
mydict.values()

dict_values([123, [0, 1, 2], {'k3.1': 1000}, 2000])

In [89]:
mydict.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'k3.1': 1000}), ('k4', 2000)])

**Tuples**

In [90]:
t = (1,2,3)
mylist = [1,2,3]

In [91]:
len(t)

3

**Sets**

In [2]:
myset = set()

In [4]:
myset.add(1)
myset

{1}

In [6]:
myset.add(2)
myset

{1, 2}

In [7]:
myset.add(2)
myset

{1, 2}

As you can see sets can only have unique values, if there is a repeated value it gets ignored

**Booleans**

In [8]:
b = None
type(b)

NoneType

In [9]:
b=True
type(b)

bool

**Files**

In [10]:
%%writefile myfile.txt
Hello this is a text file
this is a second line

Writing myfile.txt

In [29]:
#find where your notebook is (path) you have to import os & os.getcwd() 
os.getcwd()

'C:\\Users\\RVZ-01\\Desktop\\Jupyter Python Projects'

In [18]:
myfile= open('myfile.txt')

In [19]:
myfile.read()

'Hello this is a text file\nthis is a second line\n'

In [21]:
#cursor goes to end of file when reading, 
#so if you do this 2x it will appear empty, you have to reset this
myfile.read()

''

In [22]:
myfile.seek(0)

0

In [23]:
contents=myfile.read()

In [24]:
contents

'Hello this is a text file\nthis is a second line\n'

In [25]:
myfile.seek(0)
myfile.readlines()

['Hello this is a text file\n', 'this is a second line\n']

In [30]:
myfile.close()

You have to remember to close files or it will lead to errors saying python is still working on the file and it cannot be closed. to avoid this issue use the below technique when opening files

In [31]:
with open('myfile.txt') as new_file:
    contents= new_file.read()

In [32]:
contents

'Hello this is a text file\nthis is a second line\n'

read/write files

In [36]:
with open('myfile.txt', mode='r') as new_file:
    contents= new_file.read()

In [37]:
contents

'Hello this is a text file\nthis is a second line\n'

In [42]:
with open('myfile.txt', mode='w') as new_file:
    new_file.write("blah, blah, blah")

In [44]:
with open('myfile.txt', mode='r') as new_file:
    contents= new_file.read()
    print(contents)

blah, blah, blah

**TEST**